.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8EA7BE;
    gap: 100px;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: black;
  }
  
  .button {
    background-color: #518EC7;
    color: black;
    border: none;
    padding: 20px 40px;
    font-size: 20px;
    margin: 15px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #3a6e9e;
  }
  